In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

# Hypothesis testing exercises

### 1 Has the network latency gone up since we switched internet service providers?

 - Reword : How does our current network latency compare to the previous one?
 
 * Null Hipotheses: changing Internet service provider did not affect latency
 * Alternative Hypotheses: changing provider decreased latency

 * True Positive : Network latency decresed after switching ISP
 * True Negative : Network Latency stayed the same after switching ISP

 * Type 1 error : Tests show there is a change in Network latency  after Switching , but it is not the case

 * Type 1 error : Tests show there is no a change in Network latency  after, where there is a change

### 2 Is the website redesign any good?


* Null Hipotheses: redesigning the website  did not affect affect the number of page visitors
 * Alternative Hypotheses: redesigning the website increased the number of page visitors

 * True Positive : redesigning the website increased the number of page visitors by 30%
 * True Negative : After redesigning the website the number of page visitors stayed the same.

 * Type 1 error : Tests show there is a change in the number of visitors  after the redesign, but it is not the case

 * Type 1 error : Tests show there is no a change in the number of visitors  after the redesign, where there is a change

### 3 Is our television ad driving more sales?


 * Null Hipotheses: Television ads  did not affect affect sales
 * Alternative Hypotheses: Television ads increased sales
 
 * True Positive : Television ads  increased  sales by 30%
 * True Negative : Television ads  did not have any effect on sales

 * Type 1 error : Tests show there is a change in sales  after the Tv ads, but it is not the case

 * Type 1 error : Tests show there is no a change in sales after the Tv ads, where there is a change

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office 
 - #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office
 - #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

 * Null Hipotheses:  
 * Alternative Hypotheses:  
 * True Positive :  
 * True Negative :  
 * Type 1 error :  
 * Type 1 error :

In [9]:
μ1 = 90
σ1 =15
n_ob1 = 40

μ2 = 100
σ2 = 20
n_ob2 = 50

α = 0.05

degf = n_ob1 + n_ob2 -2

In [8]:
stats.ttest_ind_from_stats(μ1, σ1, n_ob1, μ2, σ2, n_ob2)

Ttest_indResult(statistic=-2.6252287036468456, pvalue=0.01020985244923939)

### Load the mpg dataset and use it to answer the following questions:

 - Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
 - Are compact cars more fuel-efficient than the average car?
 - Do manual cars get better gas mileage than automatic cars?

In [2]:
from pydataset import data

In [4]:
mpg =  data('mpg')

In [5]:
mpg['mean_mpg']= mpg[]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize